$primary:               rgb(7, 79, 19);
$primary-transparent:   rgba(7, 79, 19, 0.8);
$secondary:             rgb(0, 7, 0);
$secondary-transparent: rgba(0, 7, 0, 0.6);
$accent:                #FFEA00;
$warning:               #FF6D00;
$white:                 #FFFFFF;
